		
		#contact #center_column p {margin:0; padding:0 0 10px 0;}
		#contact #center_column p.desc_contact { text-align: center; padding-left: 10px; padding-right: 10px; }

		#contact p.textarea textarea {
			height:80px;
			width:270px;
			border:1px solid #ccc;
		}